<head>
  <meta charset="utf-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <meta name="referrer"
        content="no-referrer">

  <meta name="robots"
        content="noindex, nofollow, noarchive, noimageindex, nosnippet, nocache, notranslate">

  <meta name="format-detection"
        content="telephone=no">

  <meta http-equiv="Content-Security-Policy"
        content="
          default-src 'self';
          script-src 'none';
          connect-src 'none';
          object-src 'none';
          frame-src 'none';
          base-uri 'self';
          form-action 'none';
          img-src 'self' data:;
          style-src 'self' 'unsafe-inline';
          font-src 'self';
        ">

  <meta http-equiv="Permissions-Policy"
        content="
          camera=(),
          microphone=(),
          geolocation=(),
          browsing-topics=()
        ">

  <meta http-equiv="X-DNS-Prefetch-Control"
        content="off">

  <link rel="preload"
        href="{{ '/assets/main.css' | relative_url }}"
        as="style">

  <link rel="stylesheet"
        href="{{ '/assets/main.css' | relative_url }}">
</head>