<header>
      <a class="title" href="{{ '/' | relative_url }}" >{{ site.title }}</a>
    <nav class="navigation">
        {%- for item in site.data.navigation -%}
          {%- assign is_active = false -%}
          {%- if page.url == item.link -%}
            {%- assign is_active = true -%}
          {%- elsif item.active_layouts and item.active_layouts contains page.layout -%}
            {%- assign is_active = true -%}
          {%- endif -%}
          <a href="{{ item.link | relative_url }}"{% if is_active %} class="active"{% endif %}>{{ item.name }}</a>
        {%- endfor -%}
    </nav>
</header>