<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta http-equiv="Content-Security-Policy" content="default-src 'self';script-src 'none';object-src 'none';base-uri 'none';frame-src 'none';form-action 'none';img-src 'self' data: https://i.ibb.co;style-src 'self' 'unsafe-inline';upgrade-insecure-requests">
<meta name="color-scheme" content="light">
<meta name="referrer" content="no-referrer">
<meta name="robots" content="noindex,nofollow">
<link rel="preconnect" href="https://i.ibb.co">
<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>