@charset "utf-8";

// Define defaults for each variable.
$c-text:  #222;
$c-link:  #06c;
$c-muted: #444;
$c-faint: #888;
$f: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
$base-font-size:   16px;
$sm:  15px;

%link {
  color: $c-link;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

html {
  overflow-y: scroll;
}

body {
  font-family: $f;
  margin: auto;
  max-width: 720px;
  padding: 1.25rem;
  color: $c-text; 
  line-height: 1.5;
}

main {
  line-height: 1.75;
}

a { @extend %link ; }

  /* Hàng 1: Tên tiêu đề Blog */
.title {
  &:hover {
    text-decoration: none;
  }
  h1 {
    font-weight: 700; 
    font-size: 1.5rem; 
    color: $c-text;
  }
}

/* Hàng 2: Menu điều hướng (Nav) */
nav a {
  margin-right: .5rem;
}
  
/* --- Home & Post List Styles _layouts/home.html--- */
.post-list {
    list-style: none; 
    padding: 0; 
    margin-top: 2rem;
    li {display: flex; }
}

time {
    flex: 0 0 7rem; 
    color: $c-muted;
}

/* --- _layouts/post.html--- */

h1 {
  font-weight: 600;   
  font-size: 2rem;
}

.post {
  time {
    font-size: $sm;
    flex: none;
  }
  p {
    text-align: justify;
    text-justify: inter-word; 
    hyphens: auto;              
  }
}

/* --- img _includes/img.html --- */
.post-figure {
  margin: 1rem auto;
  img {
  display: block;
  width: var(--w, 70%);
  max-width: 100%;
  margin-inline: auto;
  }
  figcaption {
  width: min(var(--w, 70%), 100%);
  margin: .5rem auto 0;
  font-size: $sm;
  font-style: italic;
  color: $c-faint;
  }
}
/* --- FOOTER  --- _includes/footer.html*/

.site-footer {
  text-align: center;
  padding: 1.25rem 0 1.75rem;
  a {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    text-decoration: none;
    color:$c-muted;
  }
}

footer svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  flex: none;
}

/* Tối ưu phần Copyright */
.footer-copyright {
  font-size: $sm;
  color: $c-faint;
  opacity: 0.9;
  a { color: inherit;}
}