@charset "utf-8";

// Variable.
$f: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
$sm:  15px;

// Theme tokens — light mặc định, override trong dark mode.
:root {
  color-scheme: light dark;
  --c-bg:    #F8F9FA;
  --c-text:  #222;
  --c-link:  #06c;
  --c-muted: #444;
  --c-faint: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg:    #002B36;
    --c-text:  #e6e6e6;
    --c-link:  #6cb6ff;
    --c-muted: #b3b3b3;
  }
}

*, *::before, *::after { box-sizing: border-box; }

html { scrollbar-gutter: stable; }

body {
  font-family: $f;
  margin: auto;
  max-width: 760px;
  padding: 1.25rem;
  background-color: var(--c-bg);
  color: var(--c-text); 
  line-height: 1.5;
}

main { line-height: 1.75; }

a {
  color: var(--c-link);
  text-decoration: none;
  &:hover { text-decoration: underline; text-underline-offset: 4px;}
}

  /* Header — _includes/header.html */
header {
  margin: 1rem 0 1.5rem;
}

.title {
  display: block;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--c-text);
  margin-bottom: 0.8rem;
  &:hover { text-decoration: none; }
}

/* Hàng 2: Menu điều hướng (Nav) */
.navigation a { margin-right: 0.8rem; 
  &.active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
  
/* --- Home & Post List Styles _layouts/home.html--- */
.post-list {
    list-style: none; 
    text-wrap: pretty;
    padding: 0;
    li {display: flex; }
}

time {
    flex: 0 0 6.7rem; 
    color: var(--c-muted);
    font-variant-numeric: tabular-nums;
}

/* --- _layouts/post.html--- */
article {
h1 {
  font-weight: 600;   
  font-size: 2rem;
}

time {
    font-size: $sm;
    flex: none;
  }
}

/* --- IMG _includes/img.html --- */
.post-figure {
  margin: 1rem auto;

  img {
  display: block;
  width: var(--w, 80%);
  max-width: 100%;
  height: auto;
  aspect-ratio: var(--ar, auto);
  margin-inline: auto;
  }

  figcaption {
  width: min(var(--w, 80%), 100%);
  margin: .5rem auto 0;
  font-size: $sm;
  font-style: italic;
  color: var(--c-faint);
  }
}

/* --- Pagination _layouts/home.html --- */
.pagination {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.7rem;
  color: var(--c-faint);

  > a {
    color: inherit;
    grid-column: 1;
    justify-self: end;
  }

  .page-num {
    grid-column: 2;
    font-variant-numeric: tabular-nums;
    text-align: center;
  }

  .page-num + a {
    grid-column: 3;
    justify-self: start;
  }
}

/* --- FOOTER  --- _includes/footer.html*/
.site-footer {
  text-align: center;
  padding: 1.5rem 0;

  a {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    color:var(--c-muted);
  }

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.footer-copyright {
  font-size: $sm;
  color: var(--c-faint);
  a { color: inherit;}
}