{{ define "main" }}
{{- $wd := dict "Sunday" "Chủ nhật" "Monday" "Thứ hai" "Tuesday" "Thứ ba" "Wednesday" "Thứ tư" "Thursday" "Thứ năm" "Friday" "Thứ sáu" "Saturday" "Thứ bảy" -}}
<article>
  <h1>{{ .Title }}</h1>
  {{- if .Section -}}
  <time datetime="{{ .Date.Format "2006-01-02" }}">{{ index $wd (.Date.Format "Monday") }}, {{ .Date.Format "2/1/2006" }}</time>
  {{- end -}}
  {{- with .Params.en }}<a class="lang-toggle" href="{{ . | relURL }}">English</a>{{ end -}}
  {{- with .Params.vi }}<a class="lang-toggle" href="{{ . | relURL }}">Tiếng Việt</a>{{ end -}}
  {{ .Content }}
</article>
{{ end }}